.CreatingMenu {
    &__Menu {
        &__header {
            font-family: Alegreya SC;
            color: #fffdfd;
            font-size: 22px;
        }
        &__block {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            padding: 1em;
            &__text {
                font-family: Alegreya SC;
                color: #fffdfd;
                font-size: 20px;
            }
            &__toggleItem {
                font-size: 15px;
                color: #fff !important;
                background-color: #908871de !important;
                border-color: #908871de !important;
                &:hover {
                    border-color: #908871de !important;
                    background-color: #7f8124 !important;
                    color: #ffffff !important;
                }
                &__dishItem {
                    font-size: 15px;
                    font-family: Alegreya SC;
                }
            }
        }
    }
    &__Diner {
        padding: 1em;
        &__header {
            font-family: Alegreya SC;
            color: #fffdfd;
            font-size: 22px;
        }
        &__block {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            padding: 1em;
            &__text {
                font-family: Alegreya SC;
                color: #fffdfd;
                font-size: 20px;
            }
            &__toggleItem {
                font-size: 15px;
                color: #fff !important;
                background-color: #908871de !important;
                border-color: #908871de !important;
                &:hover {
                    border-color: #908871de !important;
                    background-color: #7f8124 !important;
                    color: #ffffff !important;
                }
                &__dishItem {
                    font-size: 15px;
                    font-family: Alegreya SC;
                }
            }
        }
    }
}
