.CreatingMenu {
    &__Menu {
        &__header {
            font-family: Alegreya SC;
            color: #fffdfd;
            font-size: 22px;
        }
        &__block {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            padding: 1em;
            &__form {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
                &__text {
                    font-family: Alegreya SC;
                    color: #fffdfd;
                    font-size: 20px;
                }
                &__formItem {
                    display: inline-block;
                    margin: 0 0.5em;
                    font-family: Alegreya SC;
                    color: #fffdfd;
                    font-size: 20px;
                    text-align: left;
                    &__dishItem {
                        min-width: 200px;
                        font-size: 1rem;
                        color: #212529;
                        background-color: #fff;
                        background-clip: padding-box;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
    &__Diner {
        padding: 1em;
        &__header {
            font-family: Alegreya SC;
            color: #fffdfd;
            font-size: 22px;
        }
        &__block {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            padding: 1em;
            &__form {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
                &__text {
                    font-family: Alegreya SC;
                    color: #fffdfd;
                    font-size: 20px;
                }
                &__formItem {
                    display: inline-block;
                    margin: 0 0.5em;
                    font-family: Alegreya SC;
                    color: #fffdfd;
                    font-size: 20px;
                    text-align: left;
                    &__dishItem {
                        min-width: 200px;
                        font-size: 1rem;
                        color: #212529;
                        background-color: #fff;
                        background-clip: padding-box;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}
