.Footer-about {
    padding-top: 30px;
    background: linear-gradient(#111110 85%, rgba(66, 66, 66, 0.247));
    .Info-block {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 80vw;
        flex-direction: column;
        margin: 0 auto;
        .About-container {
            display: flex;
            justify-content: center;
            margin-top: -30px;
            .About-container-row {
                flex-direction: row;
                .Text-about-header {
                    font-family: Alegreya SC;
                    font-weight: bold;
                    color: #fffdfd;
                    font-size: 27px;
                }
                .About-container-text {
                    font-family: Alegreya SC;
                    color: #fffdfd;
                    font-size: 22px;
                }
            }
            .VisionCard {
                width: 30vw;
                margin-left: 50px;
                margin-right: 50px;
                border-radius: 10px;
            }
        }
        .Cooperation-container {
            flex-direction: row;
            margin-top: 70px;
            .Text-cooperation-header {
                font-family: Alegreya SC;
                font-weight: bold;
                color: #fffdfd;
                font-size: 27px;
            }
            .Cooperation-container-colum {
                margin-top: 10px;
                display: flex;
                justify-content: center;
                .cooperationCard {
                    width: 20vw;
                    margin-left: 50px;
                    margin-right: 50px;
                    border-radius: 10px;
                }
                .Cooperation-container-text {
                    font-family: Alegreya SC;
                    color: #fffdfd;
                    font-size: 22px;
                    margin-top: 10px;
                }
            }
            .GoToContact {
                font-family: Alegreya SC;
                color: #ffffff;
                font-weight: bold;
                font-size: 25px;
                margin-top: 15px;
                background: #7f8124;
                border: 2px solid #ffffff8e;
                box-sizing: border-box;
                border-radius: 15px;
                display: inline-block;
                animation: GoToContact 0.7s ease 2s infinite alternate;
                &:hover {
                    background-color: #555555;
                    color: #ffffff;
                    animation: none;
                }
            }
        }
    }
}
/*BOUNCER*/
@keyframes GoToContact {
    0% {
        -webkit-transform: scale(1.1, 0.9);
        transform: scale(1.1, 0.9);
    }
    50% {
        -webkit-transform: scale(0.9, 1.1) translateY(-0.5rem);
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
/*END BOUNCER*/

@media only screen and (max-width: 1030px) {
    .Cooperation-container {
        flex-direction: column;
        align-items: center;
    }
}
