.Authorization {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    font-family: Alegreya SC;

    //Login Main Container
    .login {
        width: 27em;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 99;
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            box-shadow: rgba(22, 18, 14, 0.62);
            border-radius: 20px;
            position: relative;
            z-index: 99;
            width: 100%;
            z-index: 99;
            padding: 17px 10px;
        }
        .right-side {
            background-color: rgba(53, 41, 30, 0.973);
            border-radius: 6px;
            box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);
            cursor: pointer;
            display: flex;
            height: 90%;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: -40%;
            transition: all 300ms ease-in-out;
            width: 100%;
            z-index: 1;

            .text {
                font-family: Alegreya SC;
                font-weight: bold;
                color: #fffdfd;
                font-size: 20px;
                margin-right: 3em;
                margin-left: 3em;
            }

            &.right {
                right: -40%;
                justify-content: flex-end;
                &:hover {
                    right: -45%;
                }
            }
            &.left {
                right: 40%;
                justify-content: flex-start;
                &:hover {
                    right: 45%;
                }
            }
        }
    }

    //Button
    .btn {
        margin-top: 10px;
        font-size: 21px;
        padding: 5px 20px;
        border: 0;
        background-color: rgba(53, 41, 30, 0.973);
        font-family: Alegreya SC;
        font-weight: bold;
        color: #fffdfd;
        border-radius: 20px;
        transition: all 250ms ease-in-out;
        cursor: pointer;
        &:hover {
            background-color: #77716cc2;
        }
        &:focus {
            outline: none;
        }
    }
}

.base-constructor {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-size: 24px;
    font-family: Alegreya SC;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;

    .image {
        width: 10em;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .form {
        font-family: inherit;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        label {
            font-size: small;
        }
        input {
            margin-top: 6px;
            min-width: 10em;
            padding: 0px 10px;
            font-family: Alegreya SC;
            background-color: #f3f3f3;
            border: 0;
            border-radius: 5px;
            margin-bottom: 20px;
            //explaine!
            transition: all 250ms ease-in-out;
            &:focus {
                outline: none;
                box-shadow: 0px 0px 12px 0.8px #350f36;
            }
        }
    }
    .footer {
        margin-top: 3em;
    }
}
