.CreateManu {
    padding: 70px 0;
    &__MainBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 70vw;
        margin: 0 auto;
        background: rgb(20 19 19);
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 20px;
        padding: 1em;
        &__InfoBlock {
            flex-direction: row;
            &__header {
                font-family: Alegreya SC;
                font-weight: bold;
                color: #fffdfd;
                font-size: 27px;
            }
            &__text {
                font-family: Alegreya SC;
                color: #fffdfd;
                font-size: 22px;
            }
        }
        &__Menu {
            display: flex;
            flex-direction: column;
            &__MenuTitle {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 30px;
                background: #332820;
                border: 1px solid #000000;
                box-sizing: border-box;
                border-radius: 10px;
                padding: 5px;
                &__text {
                    font-family: Alegreya SC;
                    color: #fffdfd;
                    font-size: 22px;
                }
            }
            &__MenuItem {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 1em;
            }
            &__SubButton {
                margin: 15px !important;
                align-self: end;
                border-color: #908871de !important;
                background-color: #7f8124 !important;
                box-sizing: border-box;
                font-family: Alegreya SC;
                color: #fffdfd !important;
                font-size: 20px;
                &:hover {
                    background-color: #2c2c12 !important;
                    border-color: #7f8124 !important;
                    color: #ffffff !important;
                }
            }
        }
    }
    // > tablet < laptop
    @media only screen and (max-width: 1083px) {
        .CreateManu {
            &__MainBlock {
                &__Menu {
                    &__MenuItem {
                        display: flex;
                        flex-direction: column;
                        &__row {
                            display: flex;
                            justify-content: space-around;
                            gap: 50px;
                            flex-direction: row;
                            padding: 1em;
                        }
                    }
                }
            }
        }
    }
    // < tablet
    @media screen and (max-width: 900px) {
        .CreateManu {
            &__MainBlock {
                &__Menu {
                    &__MenuTitle {
                        &__text {
                            flex-direction: column;
                            align-items: center;
                        }
                    }
                    &__MenuItem {
                        &__row {
                            flex-direction: column;
                            align-items: center;
                            gap: 10px;
                        }
                        &__Diner {
                            padding: 0em;
                        }
                    }
                }
            }
        }
    }
}
