@import "../assets/styles/animation";

.CreateDish {
    padding: 70px 0;
    &__mainBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 70vw;
        margin: 0 auto;
        background: rgb(20 19 19);
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 20px;
        padding: 1em;
        &__infoBlock {
            flex-direction: row;
            &__header {
                font-family: Alegreya SC;
                font-weight: bold;
                color: #fffdfd;
                font-size: 27px;
            }
            &__text {
                font-family: Alegreya SC;
                color: #fffdfd;
                font-size: 22px;
            }
        }
        &__form {
            margin-top: 2em;
            background: #332820;
            border: 1px solid #000000;
            box-sizing: border-box;
            border-radius: 10px;
            padding: 2em;
            &__label {
                display: inline-block;
                margin: 0 0.5em;
                font-family: Alegreya SC;
                color: #fffdfd;
                font-size: 20px;
                text-align: left;
                &__options {
                    min-width: 200px;
                    font-size: 1rem;
                    color: #212529;
                    background-color: #fff;
                    background-clip: padding-box;
                    border-radius: 10px;
                }
            }
            input,
            select {
                margin-top: 0.5em;
            }
            &__button {
                margin: 15px;
                border-color: #908871de !important;
                background-color: #7f8124 !important;
                box-sizing: border-box;
                font-family: Alegreya SC;
                color: #fffdfd;
                &:hover {
                    background-color: #2c2c12 !important;
                    border-color: #7f8124 !important;
                    color: #ffffff;
                }
            }
            &__buttonInfo {
                border-color: #908871de !important;
                background-color: #fff06c !important;
                box-sizing: border-box;
                font-family: Alegreya SC;
                color: #030303 !important;
                animation: btnJump 0.7s ease 2s infinite alternate;

                &:hover {
                    background-color: #7f8124 !important;
                    border-color: #2c2c12 !important;
                    color: #ffffff !important;
                    animation: none;
                }
            }
            &__results {
                background-color: #141313;
                border-radius: 10px;
                margin: 1em;
                &__label {
                    margin: 0 0.5em;
                    font-family: Alegreya SC;
                    color: #fffdfd;
                    font-size: 20px;
                }
                li {
                    font-family: Alegreya SC;
                    color: #fffdfd;
                    font-size: 15px;
                }
            }
        }
    }
}
