.Directory {
    padding: 70px 0;
    &__mainBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 70vw;
        margin: 0 auto;
        background: rgb(20 19 19);
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 20px;
        padding: 1em;
        &__info {
            flex-direction: row;
            &__header {
                font-family: Alegreya SC;
                font-weight: bold;
                color: #fffdfd;
                font-size: 27px;
            }
            &__text {
                font-family: Alegreya SC;
                color: #fffdfd;
                font-size: 22px;
            }
        }
        &__tableContainer {
            padding: 1em;

            &__tablerHeader {
                font-family: Alegreya SC;
                color: #fffdfd;
                font-size: 20px;
                margin-bottom: 2px;
                padding-top: 2em;
            }
            &__table {
                background: #f1eeda;
                border: 1px solid #000000;;
                border-color: #000000 !important;
                box-sizing: border-box;
                border-radius: 5px;
                border-style: hidden; /* hide standard table (collapsed) border */
                &__head {
                    background: #000000;;
                    font-family: Alegreya SC;
                    color: #fffdfd;
                    font-size: 20px;
                    tr th {
                        vertical-align: middle;
                    }
                }
                &__body {
                    font-family: Alegreya SC;
                    color: #000000;
                    font-size: 15px;
                    tr td {
                        vertical-align: middle;
                    }
                }
            }
        }
        @media screen and (max-width: 860px) {
            &__tableContainer {
                &__table {
                    &__head {
                        font-size: 15px;
                    }
                    &__body {
                        font-size: 10px;
                    }
                }
            }
        }
        @media screen and (max-width: 680px) {
            &__tableContainer {
                &__table {
                    &__head {
                        font-size: 10px;
                    }
                    &__body {
                        font-size: 5px;
                    }
                }
            }
        }
    }
}
