.Footer {
    background-color: #111110;
    display: flex;
    flex-direction: column;
    &__langOptions {
        min-width: 200px;
        font-size: 1rem;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border-radius: 10px;
    }
    .FooterButton {
        .GoToUp {
            background-color: #7f8124;
            border: 1px solid #0c0b0bab;
            box-sizing: border-box;
            border-radius: 15px;
        }
    }
}
