#NavContainer {
    .Navigation {
        // &__pages {
        display: flex;
        justify-content: space-between;
        .dropdown-menu {
            padding: 0;
        }
        .nav {
            font-family: Alegreya SC;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 50px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #c4c4c4;
            text-decoration-line: none;
        }
        #DropMenu {
            font-family: Alegreya SC;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 50px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #c4c4c4;
            text-decoration-line: none;
            padding-left: 10px;
        }
        .DropItem {
            background-color: #0e0d0dda;
            display: flex;
            justify-content: center;
            padding: 10px 0;
            &:hover {
                opacity: 0.8;
            }
        }
        #LinkItem {
            text-decoration: none;
            font-family: Alegreya SC;
            font-style: normal;
            font-size: 15px;
            color: #c4c4c4;
        }
        .Auth-img {
            // padding-left: 20em;
            height: 50px;
        }
        // }
        // &__user {

        // }
    }
}
